* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: pascante;
  src: url("./assets/fonts/Pescante-Normal.ttf");
}
body {
  background-color: black;
  color: #eee;
  font-family: pascante;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 89dvh;
  padding: 3rem;
}

.name {
  font-size: calc(20px + 10vw);
}

.name:hover {
  color: #49ffac;
  transition: color 0.2s ease-in;
}
.title {
  font-size: calc(16px + 3vw);
}

.description {
  margin-top: 3rem;
  font-size: calc(16px + 1vw);
}

.footer {
  color: red;
  font-size: calc(16px + 0.5vw);
  display: flex;
  flex-direction: column;
}

a {
  color: #eee;
}

.cursor {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.1s;
  transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
}
.cursor.hovered {
  transform: translate(-50%, -50%) scale(4);
}

.content,
.footer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer a {
  margin-top: 0.5rem;
}
