// COLORS.
$color-pale-orange-100: rgb(254, 165, 95);
$color-pale-orange-200: rgba(226, 148, 85, 1);
$color-pale-orange-300: rgba(201, 132, 76, 1);

$color-ebony-clay-100: rgb(28, 43, 58);
$color-ebony-clay-200: rgb(3, 12, 93);
$color-ebony-clay-300: rgb(37, 39, 58);

$color-white-shade: rgb(226, 226, 226);

$color-slate-blue: rgb(96, 123, 150);
$color-charcoal-blue: rgb(1, 12, 21);

$color-ebony-clay: rgb(30, 45, 61);

$color-black-pearl: rgb(1, 22, 39);
