// COLORS.
$color-pale-orange-100: rgb(254, 165, 95);
$color-pale-orange-200: rgba(226, 148, 85, 1);
$color-pale-orange-300: rgba(201, 132, 76, 1);

$color-ebony-clay-100: rgb(28, 43, 58);
$color-ebony-clay-200: #030c5d;
$color-ebony-clay-300: #25273a;

$white-shade: #e2e2e2;
