.footer {
  height: 50px;
  display: flex;
  overflow: auto;
  z-index: 1;
  font-size: 16px;
  text-wrap: nowrap;
  position: relative;
  align-items: center;
  background-color: $color-black-pearl;
  border-top: 1px solid $color-ebony-clay;

  p {
    padding: 0 20px;
  }

  .footer__icons-container {
    left: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    position: sticky;
    justify-content: space-between;

    @media (max-width: 768px) {
      justify-content: end;
    }

    .footer__icon-group {
      display: flex;
    }

    .footer__instagram-link {
      border-right: 1px solid $color-ebony-clay;
    }
    .footer__github-link {
      gap: 8px;
    }

    a {
      height: 100%;
      display: flex;
      padding: 0 16px;
      align-items: center;
      color: $color-slate-blue;
      border-left: 1px solid $color-ebony-clay;
      transition: color 0.25s, background-color 0.25s;

      &:hover {
        color: $color-white-shade;
        background-color: rgba($color-white-shade, 0.1);
      }
    }
  }
}
