@keyframes slideDown {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-25vh);
  }
}

.navbar,
.navbar__container {
  display: flex;
  width: 100%;
  height: 44px;
  justify-content: space-between;
  border-bottom: 1px solid $color-ebony-clay;
}

.navbar__logo {
  display: flex;
}

.navbar__logo-icon {
  min-width: 275px;
}

.navbar__contact {
  border-left: 1px solid $color-ebony-clay;
}

.navbar__logo-icon,
.navbar__link {
  border-right: 1px solid $color-ebony-clay;
}

.navbar__logo-icon,
.navbar__link,
.navbar__contact {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $color-slate-blue;
  padding: 0 24px;
}

.navbar__link,
.navbar__contact {
  position: relative;
  transition: color 0.25s, background-color 0.25s;

  &:not(.navbar__link--active) {
    &:hover {
      color: $color-white-shade;
      background-color: rgba($color-white-shade, 0.1);

      &::after {
        width: 100%;
      }
    }

    &:active {
      color: $color-white-shade;
      background-color: rgba($color-white-shade, 0.2);

      &::after {
        width: 100%;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: orange;
      transition: width 0.25s;
    }
  }
}

.navbar__link--active {
  color: white;
  border-bottom: 2px solid orange;
}

[class^="navbar__dialog"] {
  display: none;
}

@media (max-width: 1024px) {
  .navbar__container {
    display: none;
  }

  .navbar__dialog-trigger {
    display: inline;
  }
  [class^="navbar__dialog"] {
    display: block;
  }

  .navbar__dialog-logo-icon {
    display: flex;
    align-items: center;
    padding-left: 24px;
  }
  .navbar__dialog-content {
    top: 60px;
    left: 1rem;
    right: 1rem;
    padding: 24px;
    position: absolute;
    background-color: $color-white-shade;

    animation-duration: 0.5s; // adjust as needed
    &.show {
      animation-name: slideDown;
    }

    &.hide {
      animation-name: slideUp;
    }
  }

  .navbar__dialog-overlay {
    // todo
  }
}
