.navbar {
  display: flex;
  width: 100%;
  height: 44px;
  justify-content: space-between;
  border-bottom: 1px solid $color-ebony-clay;
}

.navbar__logo {
  display: flex;
}

.navbar__logo-icon {
  min-width: 275px;
}

.navbar__contact {
  border-left: 1px solid $color-ebony-clay;
}

.navbar__logo-icon,
.navbar__link {
  border-right: 1px solid $color-ebony-clay;
}

.navbar__logo-icon,
.navbar__link,
.navbar__contact {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $color-slate-blue;
  padding: 0 24px;
}

.navbar__link,
.navbar__contact {
  position: relative;
  transition: color 0.25s, background-color 0.25s;

  &:not(.navbar__link--active) {
    &:hover {
      color: $color-white-shade;
      background-color: rgba($color-white-shade, 0.1);

      &::after {
        width: 100%;
      }
    }

    &:active {
      color: $color-white-shade;
      background-color: rgba($color-white-shade, 0.2);

      &::after {
        width: 100%;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: orange;
      transition: width 0.25s;
    }
  }
}

.navbar__link--active {
  border-bottom: 2px solid orange;
  //   background-color: $color-slate-blue !important;
  color: white;
}
