* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: calc(100% - 1rem);
}

body {
  margin: 1rem;
  overflow: hidden;
  color: $color-slate-blue;
  border: 1px solid $color-ebony-clay;
  background-color: $color-black-pearl;
}
