* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: calc(100% - 30px);
  overflow: hidden;
}

html {
  background-color: $color-charcoal-blue;
}
body {
  margin: 30px;
  display: flex;
  position: relative;
  border-radius: 8px;
  flex-direction: column;
  color: $color-slate-blue;
  justify-content: space-between;
  border: 1px solid $color-ebony-clay;
  background-color: $color-black-pearl;
}
